* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: cursive;
}

body{
  background-color: black;
  z-index: -999;
  overflow: hidden;
}

#app{
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}


.bg {
  background-image: url('https://raw.githubusercontent.com/NahuRodas/Chimmie/main/resources/bg-1.jpg');
  background-size: auto;
  background-repeat: no-repeat;
  filter: blur(5px);
  position: fixed;
  top: 0;
  left: 0;
  z-index: -998;
  display: block;
  width: 100vw;
  height: 100vh;
}

/* Book */

.book {
  position: relative;
  width: 650px;
  height: 800px;
  transition: transform 0.5s;
}

.page {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  perspective: 1500px;
}

.front,
.back {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform-origin: left;
  transition: transform 0.5s;
  background-image: url('https: //raw.githubusercontent.com/NahuRodas/Chimmie/main/resources/page-front-bg-1.png');
}

.front {
  z-index: 1;
  backface-visibility: hidden;
  border-radius: 0px 15px 15px 0px;

}

.back {
  z-index: 0;
  border-radius: 0px 15px 15px 0px;
}

.front-content,
.back-content {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.back-content {
  transform: rotateY(180deg);
}

.btn {
  color: black;
  font-size: 60px;
  border: none;
  background-color: rgba(255, 255, 255, 0);
  padding: 0px 5px;
  cursor: pointer;
  transition: transform 0.4s;
}

.btn:hover {
  color: rgb(37, 37, 37);
}



/* Flipped effect */

.flipped .front,
.flipped .back {
  transform: rotateY(-180deg);
}


/* Pages styles */

#front-1{
  background-image: url('./resources/real-books-are-the-best.jpg');
}

.lore{
  display: block;
  text-align: justify;
  padding: 15px;
  padding-left: 40px;
  height: 100%;
}

.lore h1{
  margin-top: 30px;
  text-align: center;
}

.lore p{
  margin-top: 30px;
}

.lore-img{
  margin-top: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.lore-img img{
  width: 400px;
  filter: sepia(5);
  border-radius: 50%;
  border: 2px solid bisque;
}


#back-5{
  background-color: rgb(107, 70, 48);
}

/* Pages order */

#page-5 {
  z-index: 2;
}

#page-4 {
  z-index: 3;
}

#page-3 {
  z-index: 4;
}

#page-2 {
  z-index: 5;
}

#page-1 {
  z-index: 6;
}