* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: cursive;
}

body{
  background-color: black;
  z-index: -999;
  overflow: hidden;
}

h3{
  font-size: 30px;
}

a{
  font-size: 20px;
}

ul{
  list-style: circle;
  padding-left: 70px;
}

li{
  margin-top: 30px;
  text-align: left;
}

#app{
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}



.bg {
  background-image: url('https://raw.githubusercontent.com/NahuRodas/Chimmie/main/resources/bg-1.jpg');
  background-size: auto;
  background-repeat: no-repeat;
  filter: blur(5px);
  position: fixed;
  top: 0;
  left: 0;
  z-index: -998;
  display: block;
  width: 100vw;
  height: 100vh;
}

/* Book */

.book {
  position: relative;
  width: 650px;
  height: 800px;
  transition: transform 0.5s;
}

.page {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  perspective: 1500px;
}

.front,
.back {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform-origin: left;
  transition: transform 0.5s;
  background-image: url('https://raw.githubusercontent.com/NahuRodas/Chimmie/main/resources/page-front-bg-1.png');
}

.front {
  z-index: 1;
  backface-visibility: hidden;
  border-radius: 0px 15px 15px 0px;

}

.back {
  z-index: 0;
  border-radius: 0px 15px 15px 0px;
}

.front-content,
.back-content {
  display: block;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  height: 100%;
}

.back-content {
  transform: rotateY(180deg);
}

.btn {
  color: black;
  font-size: 60px;
  border: none;
  background-color: rgba(255, 255, 255, 0);
  padding: 0px 5px;
  cursor: pointer;
  transition: transform 0.4s;
}

.btn:hover {
  color: rgb(37, 37, 37);
}



/* Flipped effect */

.flipped .front,
.flipped .back {
  transform: rotateY(-180deg);
}


/* Pages styles */

#front-1{
  background-image: url('https://raw.githubusercontent.com/NahuRodas/Chimmie/main/resources/cover.png');
  background-size: cover;
  background-repeat: no-repeat;
}

.lore{
  display: block;
  text-align: justify;
  padding: 15px;
  padding-left: 40px;
  height: 100%;
}

.lore h1{
  margin-top: 30px;
  text-align: center;
}

.lore p{
  margin-top: 30px;
}

.lore-img-chimmie{
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.lore-img-chimmie img{
  width: 360px;
  filter: sepia(5);
  border-radius: 15px;
  border: 2px solid bisque;
}

.lore-img-chimera {
  margin-top: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.lore-img-chimera img {
  width: 400px;
  filter: sepia(5);
  border-radius: 50%;
  border: 2px solid bisque;
}

#front-2{
  display: block;
  padding: 15px;
  padding-right: 40px;
  padding-top: 100px;
  text-align: justify;
}

#front-2 p{
  margin-top: 15px;
  margin-bottom: 10px;
}

#front-2 img{
  margin-top: 10px;
  width: 300px;
}

#back-2,
#front-3{
  padding-top: 50px;
}

#back-3{
  display: block;
  padding: 15px;
  padding-top: 60px;
  padding-left: 30px;
  text-align: center;
}

#back-3 h3{
  margin-top: 30px;
  margin-bottom:30px;
  font-size: 30px;
}

#back-3 img{
  padding-top: 30px;
  padding-bottom: 60px;
}

.pointer{
  font-size: 40px;
}

.container-img{
  display: flex;
  align-items: center;
  justify-content: center;
}

.container-img img{
  width: 500px;
}

.twitch-img{
  transform: rotatez(-15deg);
}

#front-4{
  display: block;
  text-align: center;
  justify-content: center;
  align-items: center;
  padding-top: 40px;
  font-size: 20px;
}


.youtube-img{
  margin: 10px;
}
.twitter-img{
  margin: 10px;
}

.youtube{
  margin-bottom: 40px;
}

#back-4,
#front-5{
  padding-top: 50px;
}

#back-5{
  background-image: url('https://raw.githubusercontent.com/NahuRodas/Chimmie/main/resources/back.png');
  background-size: cover;
  background-repeat: no-repeat;
}

/* Pages order */

#page-5 {
  z-index: 2;
}

#page-4 {
  z-index: 3;
}

#page-3 {
  z-index: 4;
}

#page-2 {
  z-index: 5;
}

#page-1 {
  z-index: 6;
}

.audio-btn-on,
.audio-btn-off{
  font-size: 40px;
  position: fixed;
    top: 0;
    left: 0;
    color: rgb(255, 255, 255);
}

.audio-btn-on {
  display: block;
}
.audio-btn-off {
  display: none;
}

.audio-btn-off:hover {
  color: rgb(196, 196, 196);
}
.audio-btn-on:hover{
  color: rgb(196, 196, 196);
}